body {
  font-family: 'Arial', sans-serif;
  background: #f5f2e7;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="file"] {
  margin-bottom: 10px;
}

#posts {
  margin-top: 20px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  background: #fffbe6;
}

.post img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
};
.reactions {
  margin-top: 8px;
}

.like-btn {
  background: #05d3ea;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.like-btn:hover {
  background: #4befe6;
}


/* FOOTER */
.site-footer {
  background: #1e1e1e;
  color: #aaa;
  text-align: center;
  padding: 15px 10px;
  margin-top: 30px;
  border-top: 3px solid #444;
}

.site-footer p {
  margin: 0;
  font-size: 14px;
}

.site-footer p:hover {
  color: #fff;
}
.nickname-input,
.comment-input,
.comment-form input[type="text"],
.comment-form textarea {
  width: 100%;
  padding: 6px;          /* gọn hơn */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.comment-input {
  height: 60px;          /* nhỏ lại khung comment */
  resize: vertical;      /* cho phép kéo to nếu cần */
}
